# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# MongoDB
MONGODB_URI=mongodb://admin:password@localhost:27017
MONGODB_DATABASE=flowforge

# ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redispass

# Feast
FEAST_REPO_PATH=./src/feature_store/definitions

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# MOEX ISS API
TICKERS_FILE=config/tickers.txt
